@import "core/style/variable";

.blogpost {
  width: calc(98% - 6px);
}
.blogpost__title {
  text-align: center;
  width: 100%;
  margin-bottom: 2px;
}
.blogpost__subtitle {
  margin-bottom: 2vh;
  text-align: center;
  width: calc(100% - 2vh);
}
.blogpost__text {
  padding: 2vw;
  max-width: 100%;
  max-height: 100%;
  white-space: normal;
}
.blogpost__text * {
  max-width: 100%;
  max-height: 100%;
}
.blogpost h1,
.blogpost h2,
.blogpost h3,
.blogpost h4,
.blogpost h5,
.blogpost h6 {
  white-space: normal;
}
.blogpost__text img {
  display: block;
  margin: auto;
}
.blogpost__text p {
  line-height: 25px;
}
.blogpost__text hr {
  background-color: $primary-color;
  border: 0px;
  margin: 50px auto;
  width: 50%;
  height: 5px;
  border-radius: 5px;
  max-width: 430px;
  color: $primary-color;
  clear: both;
}
