@import "react-md/src/scss/react-md";
@import "core/style/variable";

.blogeditor__form {
  max-width: 1000px;
}

.blogeditor_card {
  width: 100%;
}

.blogeditor_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogeditor_tabpanel {
  margin-top: $md-tab-height;
}

.blogeditor_tabs {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  background: url("../../../core/images/bg-shapes.svg"),
    $banner-background-gradient;
  transition: left $transition;
}

@media (min-width: 1025px) {
  .blogeditor_tabs {
    left: $side-nav-max-width;
  }
}

.blogeditor_tagchips {
  display: flex;
  flex-wrap: wrap;
}

.blogeditor_buttons {
  display: flex;
  flex-direction: row;
}
