.bloglistitem {
  display: flex;
  justify-content: space-between;
  padding: 16px 15%;
  font-size: 1.5em;
  margin-bottom: 2vh;
  align-items: start;
  flex-direction: row;
}

@media (max-width: 1025px) {
  .bloglistitem {
    flex-direction: column;
    padding: 16px;
  }
}

.bloglistentry__link {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted #ddd;
}
.bloglistitem__title {
  text-align: center;
  color: var(--text-color-darker);
}
.bloglistitem__subtitle {
  color: var(--text-color-dark);
}