.noscroll {
  overflow: hidden;
}

form {
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form > * {
  width: 100%;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  margin: 1vw;
  border-left: 0.25em solid var(--primary-color);
}

pre {
  padding: 13px;
  overflow-x: auto;
  overflow-y: hidden;
  background: #f0f0f0;
  outline: 1px solid #eeeeee;
  border-left: 5px solid var(--primary-color);;
}