.noscroll {
  overflow: hidden;
}

form {
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form > * {
  width: 100%;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  margin: 1vw;
  border-left: 0.25em solid var(--primary-color);
}

hr {
  background-color: var(--primary-color);
  border: 0px;
  margin: 50px auto;
  width: 50%;
  height: 5px;
  border-radius: 5px;
  max-width: 430px;
  color: var(--primary-color);
  clear: both;
}