.main {
  margin-top: var(--header-height);
  padding-top: 5px;
}

.noscroll {
  overflow: hidden;
}


@media (min-width: 1025px){
  .main{
    margin-left: 450px;
    transition: margin-left var(--transition);
  }
}