.bloglistitem {
  display: flex;
  width: 100%;
  max-width: 750px;
  justify-content: space-between;
  font-size: 1.5em;
  margin-bottom: 2vh;
  flex-wrap: wrap;
  align-items: start;
}

@media (max-width: 1025px) {
  .bloglistitem {
    flex-direction: column;
  }
}

.bloglistentry__link {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted #ddd;
}
.bloglistitem__title {
  text-align: center;
  color: var(--text-color-darker);
}
.bloglistitem__subtitle {
  color: var(--text-color-dark);
}