.blogpost__title {
  text-align: center;
}
.blogpost__subtitle {
  margin-bottom: 2vh;
}
.blogpost__text {
  padding: 2vw;
  max-width: 100%;
  max-height: 100%;
}
.blogpost__text * {
  max-width: 100%;
  max-height: 100%;
}
.blogpost__text h2, .blogpost__text h3 {
  text-align: center;
}
.blogpost__text img {
  display: block;
  margin: auto;
}
.blogpost__text p{
  line-height: 25px;
}
.blogpost__text hr {
  background-color: var(--primary-color);
  border: 0px;
  margin: 50px auto;
  width: 50%;
  height: 5px;
  border-radius: 5px;
  max-width: 430px;
  color: var(--primary-color);
  clear: both;
}