.side-nav__link {
  line-height: 48px;
  height: 48px;
  text-decoration: none;
  border: 0;
  display: flex;
  cursor: pointer;
  color: var(--text-color-dark);
  justify-content: flex-start;
  /* background: url('./ic_info_24px.svg') 16px 12px no-repeat; */
}

.side-nav-link__icon {
  margin: 0 32px;
}

.side-nav__link-active, .side-nav__link:focus, side-nav__link:active {
  background-color: var(--background-color);
}

.no-decoration {
  text-decoration: none;
}