@import "core/style/variable";

.side-nav {
  overflow-y: hidden;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.side_nav--opened {
  pointer-events: auto;
}

.side-nav .side-nav__scrim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: $background-color-dark;
  will-change: opacity;
  transform: translateZ(0);
}

.side_nav--animatable .side-nav__scrim {
  transition: opacity $transition;
}

.side_nav--animatable .side-nav__content {
  transition: transform $transition;
}

.side_nav--opened .side-nav__scrim {
  display: block;
  opacity: 0.85;
}

.side_nav--opened .side-nav__content {
  transform: translate3d(0, 0, 0);
}

.side-nav__content {
  background: $background-color-light;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  will-change: transform;
  transform: translate3d(-100%, 0, 0);
  overflow-y: hidden;
  width: 73.33333%;
  margin-right: 2.22222%;
  max-width: $side-nav-max-width;
}

.side-nav__edgearea {
  pointer-events: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 16px;
  z-index: 10;
}

.side-nav-layout {
  height: 100vh;
  width: 100vw;
}

.side-nav-layout_main {
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
  transition: left $transition;
}

@media (min-width: 1025px) {
  .side-nav-layout_main {
    left: $side-nav-max-width;
  }

  .side-nav__content {
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
  }
}
