@import "core/style/variable";
.sidenvapanel {
  display: flex;
  height: 100%;
  min-height: 100%;
  justify-content: space-around;
  flex-direction: column;
  overflow-y: auto;
}

.sidenavpanel__header {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidenavpanel__image {
  border-radius: 50%;
  height: 150px;
  margin: 16px;
}

.sidenavpanel__name {
  color: $text-color-dark;
  margin-bottom: 0px;
}
.sidenavpanel__email {
  color: $text-color-dark;
}

.sidenavpanel__body {
  width: 100%;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.sidenavpanel__version {
  float: right;
  padding: 16px;
  font-size: 14px;
  opacity: 0.54;
}
